<div class="row">

  <div class="container">

    <div class="d-flex align-items-center" *ngIf="contacts.length === 0">
      <strong>Loading...</strong>
      <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>

  </div>

  <div class="col-sm-12 m-2">

    <ngb-alert [dismissible]="false" *ngIf="errorStatus">
      <strong>Warning! {{errorStatus}}</strong>
    </ngb-alert>

  </div>

  <div class="col-sm-4 p-3" *ngFor="let contact of contacts">
     <div class="card">

       <app-card [contact]="contact"></app-card>

       <i id="buttona" class="bi bi-x-circle m-2" (click)="deleteContact(contact)"></i>

     </div>
  </div>

</div>

